body {
  background-color: rgba(241, 241, 241, 0.6);
}

html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#mainHomeContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#askQuestionBox {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(219, 217, 217, 0.6);
  width: 50%;
  height: 60px;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0.25px 0.25px 0.25px 0.25px rgba(190, 190, 190, 0.2);
}

#askQuestionBoxName {
  margin: 0;
  margin-bottom: 10px;
  font-size: 11pt;
  color: rgb(133, 131, 131);
}

#askQuestionBoxPrompt {
  margin: 0;
  font-size: 18pt;
  color: rgb(133, 131, 131);
}

.questionContainter {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(219, 217, 217, 0.6);
  width: 50%;
  height: 130px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0.25px 0.25px 0.25px 0.25px rgba(190, 190, 190, 0.2);
}

.questionLink {
  font-size: 14pt;
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.questionLink:hover {
  text-decoration: underline;
}

.topQuestion {
  display: flex;
  margin-bottom: 6px;
}

.questionAnswerer {
  text-decoration: none;
  color: black;
  font-weight: 1000;
  font-size: 10pt;
  margin-right: 5px;
}

.questionFollow {
  color: rgb(87, 87, 231);
  font-size: 9pt;
  margin: 0px;
  margin-left: 5px;
}

.questionFollow:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bottomQuestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.bottomQuestionLeft {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.bottomQuestionLeft:hover {
  background-color: rgba(226, 226, 226, 0.6);
}

#upVotesNum {
  color: rgb(133, 131, 131);
  font-size: 11pt;
  margin-left: 10px;
}

#upArrowImg {
  color: rgb(83, 85, 160);
}
