body {
  background-color: rgba(241, 241, 241, 0.6);
}

html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#mainHomeContainer {
  /* height: 100%; */
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#askQuestionBox {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(219, 217, 217, 0.6);
  width: 50%;
  height: 60px;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0.25px 0.25px 0.25px 0.25px rgba(190, 190, 190, 0.2);
}

#askQuestionBoxName {
  margin: 0;
  margin-bottom: 10px;
  font-size: 11pt;
  color: rgb(133, 131, 131);
}

#askQuestionBoxPrompt {
  margin: 0;
  font-size: 18pt;
  color: rgb(133, 131, 131);
}

.questionContainter {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(219, 217, 217, 0.6);
  width: 50%;
  height: fit-content;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0.25px 0.25px 0.25px 0.25px rgba(190, 190, 190, 0.2);
}

@media screen and (max-width: 925px) {
  .questionContainter {
    width: 80%;
  }
  #askQuestionBox {
    width: 80%;
  }
}

.questionLink {
  font-size: 14pt;
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.questionLink:hover {
  text-decoration: underline;
}

.topQuestion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

#topQuestionLeft {
  display: flex;
  justify-content: start;
}

.questionAnswerer {
  text-decoration: none;
  color: black;
  font-weight: 1000;
  font-size: 10pt;
  margin-right: 5px;
}

.questionFollow {
  color: #2e69ff;
  font-size: 9pt;
  margin: 0px;
  margin-left: 5px;
}

.questionFollow:hover {
  text-decoration: underline;
  cursor: pointer;
}

.questionToProfile {
  font-size: 8pt;
  text-decoration: none;
  color: grey;
}

.questionToProfile:hover {
  text-decoration: underline;
}

.bottomQuestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.bottomQuestionLeft {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

/* .bottomQuestionLeft:hover {
  background-color: rgba(226, 226, 226, 0.6);
} */

#upVotesNum {
  color: rgb(133, 131, 131);
  font-size: 11pt;
  margin-left: 10px;
}

#upArrowImg {
  color: #2e69ff;
}

#upArrowImg:hover {
  transition: all 0.1s ease-in-out;
  -webkit-transform: scaleY(1.2);
  -ms-transform: scaleY(1.2);
  -o-transform: scaleY(1.2);
  -webkit-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
  transform: scaleY(1.2);
}

/*

login form styling

*/

.mainLogin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url("//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png");
}

#loginForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: snow;
  border-radius: 8px;
  box-shadow: 10px 10px 10px 10px rgba(107, 107, 107, 0.2);
}

#topLoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottomLoginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-bottom: 20px;
  margin-left: 20%;
}

.loginField {
  margin-bottom: 5%;
}

#loginInput {
  width: 80%;
  height: 50%;
}

#loginButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* signup modal styling */

#signUpModalPrompt {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#signUpModalPrompt:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signupInput {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

#signupContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* logout button */

#logoutButton {
  background-color: #fff;
  color: #b92b27;
  border: 2.2px solid #b92b27;
  border-radius: 7px;
  font-size: 10pt;
  font-weight: 400;
  min-width: 3.83rem;
  min-height: 1.77rem;
  cursor: pointer;
}
